.fullList {
    display: flex;
    justify-content: ;
}

.exerciseList {
   display: flex;
   flex-direction: column;
   border: 3px solid blue;
   width: fit-content;
   

}

.singleExercise {
    display: flex;
    flex-direction: column;
}