.dropdownAndList{
    border: 10em;
}
.fullList {
    display: flex;
    justify-content: flex-end;
}

.exerciseList {
   display: flex;
   flex-direction: column;
   border: 3px dashed rgb(52, 52, 236);
   width: fit-content;
   

}

.singleExercise {
    display: flex;
    flex-direction: column;
}

