.homepageLogo {
    display: flex;
    justify-content: center;
    border-style:groove ;
}

.homepageOverview {
    background-color: #A682FF;
    display: flex;
    justify-content: center;
    border-style: double;
    border-width: 5px;
    height: auto;
    width: 50%;
    margin: auto;
      
}
.homepage{
    display: flex;
    justify-content: center;
    align-items:center;
}