.navbar {
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;

}

/* /box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
position: relative;
border: 3px solid rgb(236, 236, 248);
width: 20em/ */
.navbar_item {
  display: flex;
    flex-basis: 20%;
    list-style-type: none;
    font-weight: bolder;
    border: 3px solid rgb(236, 236, 248);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    justify-content: space-between;

    
}

.navbtn {
    background-color: #84DCC6;
    border-color: white;
    border-radius: 3px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(211, 181, 12);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #60b49f;}